body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Aggiungi questo al tuo foglio di stile CSS */
.custom-slick .slick-dots li button:before {
  color: white !important; /* Cambia il colore dei puntini qui */
}

.custom-slick .slick-dots li.slick-active button:before {
  color: white !important; /* Cambia il colore dei puntini attivi qui */
}

